/* this is the responsive version of the assignment for HW2 */

/* allows us to include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* applied to the parent element to clear the floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* includes the information from the style guide for the assignment */
body {
    background: url("../images/country-quilt.png") repeat;
    overflow: auto;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* includes the information from the style guide for the assignment */
h1,
h2,
h3 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    color: #4aaaa5;
}

/* this is the main header area per style guide information */
header {
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
    margin-bottom: 20px;
}

/* specific to the h1 element in the header re: Steve Tucker */
header h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    background: #4aaaa5;
    color: white;
}

/* navigation element formats */
nav {
    width: 300px;
    float: right;
    margin-top: 15px;
    text-align: center;
}

/* created an unordered list for nav items */
nav ul li {
    display: inline;
}

nav a {
    font-size: 18px;
    padding: 5px 15px;
    border-right: 3px solid #dddddd;
    text-decoration: none;
}

nav ul li:last-child a {
    border-right: none;
    padding-right: none;
}

/* the main content area for the site */
.wrapper {
    width: 960px;
    margin: 0 auto;
}

/* clears elements for float and display */
.clearfix::after {
    display: block;
    clear: both;
}

/* box for content area */
#box {
    background: white;
    padding: 25px;
    border: 3px solid #dddddd;
    width: 960px;
    float: left;
    margin-bottom: 40px;
}

/* format the h2 content in the box */
#box h2 {
    padding: 20px 0px 20px 0px;
    font-size: 28px;
    border-bottom: 3px solid #dddddd;
    margin-bottom: 20px;
}

/* float the image left */
img {
    float: left;
    height: 250px;
    margin: 0px 20px 10px 0px;
}

/* portfolio css section */

.portfolio-item {
    position: relative;
    margin-bottom: 20px;
    width: 45%;
    float: left;
    height: 200px;
}

/* the even pseudo code moves the even sequenced items right on page */
.portfolio-item:nth-of-type(even) {
    float: right;
}

/* formatting for the portfolio items in h4 */
.portfolio-item h4 {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 15px;
    position: absolute;
    bottom: 15px;
    width: 100%;
}

/* assigns the specific image to each item */
#item1 {
    background: url("../images/image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#item2 {
    background: url("../images/image2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#item3 {
    background: url("../images/image3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#item4 {
    background: url("../images/image4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#item5 {
    background: url("../images/image5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* format css for contact me form */
form label {
    font-size: 16px;
    display: block;
}

form input {
    width: 100%;
    display: block;
    margin: 5px 0px 20px 0px;
    border: 3px solid #dddddd;
    padding: 5px;
}

form textarea {
    width: 100%;
    height: 80px;
    display: block;
    margin: 5px 0px 20px 0px;
    border: 3px solid #dddddd;
    padding: 5px;
}

button {
    background-color: #4aaaa5;
    color: white;
    font-size: 30px;
    border: none;
}

/* format for the footer including the position fixed for bottom of page alignment */
footer {
    text-align: center;
    color: white;
    clear: both;
    height: 40px;
    background-color: #666666;
    padding: 15px 0px;
    border-top: 5px solid #4aaaa5;
    margin-top: 20px;
    bottom: 0%;
    position: fixed;
    width: 100%;
}

/* footer formatting for h3 elements */
footer h3 {
    color: white;
    font-weight: normal;
    font-size: 12px;
}
/* 980 px responsive */

@media screen and (max-width: 980px) and (min-width: 769px) {
   /* the main content area for the site */
.wrapper {
    width: 700px;
    margin: 0 auto;
}

/* clears elements for float and display */
.clearfix::after {
    display: block;
    clear: both;
}

/* box for content area */
#box {
    background: white;
    padding: 25px;
    border: 3px solid #dddddd;
    width: 700px;
    float: left;
    margin-bottom: 40px;
} 
img {
    float: left;
    height: 300px;
    margin: 0px 20px 10px 0px;
}
}

/* 768 px responsive */

@media screen and (max-width: 768px) and (min-width: 641px) {
    /* the main content area for the site */
 .wrapper {
     width: 600px;
     margin: 0 auto;
 }
 
 /* clears elements for float and display */
 .clearfix::after {
     display: block;
     clear: both;
 }
 
 /* box for content area */
 #box {
     background: white;
     padding: 25px;
     border: 3px solid #dddddd;
     width: 600px;
     float: left;
     margin-bottom: 40px;
 } 
 img {
     float: left;
     height: 400px;
     margin: 0px 20px 10px 0px;
 }
 }

 /* 640 px responsive */

@media screen and (max-width: 640px) and (min-width: 0px) {
    /* the main content area for the site */
 .wrapper {
     width: 640px;
     margin: 0 auto;
 }
 
 /* clears elements for float and display */
 .clearfix::after {
     display: block;
     clear: both;
 }

 header {
    width: 100%;
    background: #4aaaa5;
    text-align: center;
    border-bottom: 3px solid #cccccc;
    margin-bottom: 20px;
}

/* navigation element formats */
nav {
    width: 100%;
    background: white;
    text-align: center;
    border-bottom: 3px solid #cccccc;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 20px;
}

 /* box for content area */
 #box {
     background: white;
     padding: 25px;
     border: 3px solid #dddddd;
     width: 500px;
     float: left;
     margin-bottom: 40px;
     margin-left: 50px;
 } 
 img {
     float: left;
     height: 500px;
     margin: 0px 20px 10px 0px;
 }

 /* portfolio css section */

.portfolio-item {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    float: left;
    height: 200px;
}

 }